/* ПАЛИТРА */
:root {
  --accent-color: #2196f3;
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
}
body {
  color: var(--primary-text-color);

  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 36px;

  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* ВЕРХНЯЯ ЛИНИЯ */
/* Логотип */
.logo {
  color: var(--accent-color);

  font-family: 'Raleway', serif;
  font-weight: 700;
  font-size: 26px;

  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;
}
.black-span {
  color: var(--black-text-color);
}
/* навигация */
.site-nav .link,
.site-contact .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-contact .link {
  color: var(--secondary-text-color);
}
.list {
  list-style: none;
}
.logo,
.site-nav .link,
.site-contact .link {
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-contact .link:hover,
.site-contact .link:focus,
.feature-list .title:focus,
.feature-list .description:focus,
.section-title:focus,
.team-list .title:focus,
.team-list .description:focus {
  color: var(--accent-color);
}
/* ШАПКА */
/* Герой */
.hero {
  background-color: var(--primary-background-color);

  text-align: center;
}
.hero-title {
  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;

  line-height: 1.4;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}
/* Кнопка */
.button {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.button.current,
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);

  font-weight: 700;
  letter-spacing: 0.06em;
}
.accent {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
/* Особенности */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list .title {
  color: var(--main-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}
.feature-list .description {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* Чем мы занимаемся  */
.section-title {
  color: inherit;

  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;

  line-height: inherit;
  letter-spacing: inherit;

  text-align: center;
}
/* Наша команда */
.team {
  background-color: var(--secondary-background-color);
}

.team-list .title {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.2;
}
.team-list .position {
  color: var(--secondary-text-color);

  font-weight: 400;
  line-height: 1;
}

.team-list .title,
.team-list .position {
  font-size: 16px;
  letter-spacing: 0.03em;
}
/* ПОДВАЛ СТУДИИ*/
.footer {
  background-color: var(--primary-background-color);
}
.white-span {
  color: var(--white-text-color);
}

.site-address {
  color: var(--white-text-color);

  font-weight: 400;
  font-size: 14px;

  line-height: 1.7;
  letter-spacing: 0.03em;
}

.site-address,
.site-contact {
  font-style: normal;
}
/* ------------------------------------------------------------ */
/* ПОРТФОЛИ СТРАНИЦА */

/* Проекты */
.cards-list .title {
  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.cards-list .description {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}
